body {
    background-color: #44b996;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.online-menu.active .online {
    gap: .5rem;
}

.online-menu .online {
    gap: 0;
    transition: gap .3s ease-in-out;
}

.online-menu .online p {
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width .3s ease-in-out, margin-right .3s ease-in-out;
}

.online-menu.active .online p {
    width: 150px;
    margin-right: 1.25rem;
}

.toggle-online-menu {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
}

.online-menu.active>.toggle-online-menu {
    transform: rotate(180deg);
}

.burger {
    width: 40px;
    height: 45px;
}

.burger>button {
    z-index: 21;
}

.burger>button span,
.burger>button span::before,
.burger>button span::after {
    width: 100%;
    height: 4px;
    background-color: white;
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.burger>button span::before,
.burger>button span::after {
    content: "";
    top: 0;
}

.burger>button span::before {
    transform: translateY(-12px);
}

.burger>button span::after {
    transform: translateY(12px);
}

.burger.active>button span {
    background-color: transparent;
}

.burger.active>button span::before {
    transform: rotate(45deg);
}

.burger.active>button span::after {
    transform: rotate(-45deg);
}

.burger .menu {
    z-index: 20;
    min-width: 300px;
    max-width: 500px;
    height: 100vh;

    background-color: rgb(19, 135, 94);
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.burger.active .menu {
    transform: none;
}