* {
    outline: none;
    color: #181818;
}

body {
    background-color: #44b996;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #1C9D6F;
}

#root {
    min-height: 100vh;
}

.unread {
    background-color: #e3c2c2 !important;
}

.text-theme {
    color: #44b996;
}

.bg-light-theme {
    background-color: #beeede;
}

.title {
    color: #13342b;
    font-size: 3rem;
    font-weight: bold;
}

.form-inset:hover,
.form-inset:focus {
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, .1);
}

.menu {
    transform: translateX(calc(100% + 1rem + 5px));
    transition: transform .3s ease-in-out;
    border-radius: 10px 25px 10px 20px;
}

.menu ul li {
    position: relative;
}

.menu ul li>* {
    padding-top: 1rem;
}

.menu ul li::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #5C5B5B;
}

.menu ul li:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

.menu ul li:hover {
    background-color: #aaebd5;
}

.toggle-menu.active~.menu {
    transform: translateX(0);
}

.toggle-menu {
    transition: padding .2s, padding-right .2s .1s;
}

.toggle-menu.active {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 0.25rem !important;
}

.popup {
    z-index: 70;
    min-width: 400px;
    max-width: 700px;
    transform: translate(-50%, -50%);
}

.popup-coming {
    animation: scaleIn cubic-bezier(0.6, 0.2, 0.2, 1.2) .3s;
}

.popup-closing {
    animation: scaleIn reverse cubic-bezier(0.6, 0.2, 0.2, 1.2) .3s;
}

.hidden-tab {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 50;
}

#avatar-container {
    background-color: #1d765d;
    border: 2px dashed #114738;
}

#avatar-container #avatar-input {
    display: none;
}

.online-menu.active .online {
    gap: .5rem;
}

.online-menu .online {
    gap: 0;
    transition: gap .3s ease-in-out;
}

.online-menu .online p {
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width .3s ease-in-out, margin-right .3s ease-in-out;
}

.online-menu.active .online p {
    width: 150px;
    margin-right: 1.25rem;
}

.toggle-online-menu img {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
}

.online-menu.active>.toggle-online-menu img {
    transform: rotate(180deg);
}

.object-fit-cover {
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

.online-circle {
    background: #fff;
    height: 15px;
    width: 15px;
    animation: online-circle 2s infinite;
}

li p {
    color: #232323;
}

ol {
    list-style-type: none;
}

footer {
    background-color: #1d765d;
    justify-content: space-between;
}

a {
    color: #00170c;
}

footer a {
    text-decoration: none;
    color: #ececec;
}

footer a:hover {
    text-decoration: underline;
    color: #dcdcdc;
}

.warning {
    animation: warning .4s linear infinite alternate both;
}

.message.my {
    background-color: #a9e9d3;
}

.message:not(.my) {
    background-color: #cec8c8;
}

.btn-unread {
    text-overflow: clip;
    white-space: hidden;
    overflow: hidden;
    width: 0px;
    transition: .4s ease-in-out;
    background-color: #0b5cd6;
    z-index: 1;
    margin-left: -10px;
    max-height: 24px;
    font-size: 15px;
    padding: 2px 0 2px 15px;
    border-bottom-right-radius: var(--bs-border-radius-pill);
    border-top-right-radius: var(--bs-border-radius-pill);
    opacity: 0;
}

#unread:hover~.btn-unread,
.btn-unread:hover {
    width: 165px;
    opacity: 1;
}

.fm-sans-serif {
    font-family: sans-serif;
}

#burger-tab {
    z-index: 2;
}

.burger {
    width: 40px;
    height: 45px;
}

.burger>button {
    z-index: 4;
}

.burger>button span,
.burger>button span::before,
.burger>button span::after {
    width: 100%;
    height: 4px;
    background-color: white;
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.burger>button span::before,
.burger>button span::after {
    content: "";
    top: 0;
}

.burger>button span::before {
    transform: translateY(-12px);
}

.burger>button span::after {
    transform: translateY(12px);
}

.burger.active>button span {
    background-color: transparent;
}

.burger.active>button span::before {
    transform: rotate(45deg);
}

.burger.active>button span::after {
    transform: rotate(-45deg);
}

.burger .menu {
    z-index: 3;
    min-width: 300px;
    max-width: 500px;
    height: 100vh;

    background-color: rgb(19, 135, 94);
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.burger.active .menu {
    transform: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes warning {
    30% {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes online-circle {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(206, 244, 206, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px transparent;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 transparent;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 60% !important;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 80% !important;
    }
}

@media screen and (max-width: 750px) {

    footer> :first-child,
    footer>:last-child {
        display: none;
    }

    body footer {
        justify-content: center;
        font-size: .8rem !important;
    }
}

@media screen and (max-width: 725px) {
    header>:last-child {
        display: none;
    }

    header .onlines {
        display: none !important;
    }

    header .burger {
        display: block !important;
    }

    .online-menu {
        display: none;
    }

    .unread-container {
        margin-left: 0 !important;
        margin-top: -.5rem !important;
    }

    .title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 650px) {
    #register-form div.inputs-container {
        flex-direction: column;
        align-items: center;
    }

    #register-form div.inputs-container>div {
        width: 100%;
    }

    #avatar-container {
        margin-right: 0 !important;
        margin-bottom: 2rem;
        margin-top: 0 !important;
    }
}